---
http_interactions:
- request:
    method: get
    uri: http://www.supermarketapi.com/api.asmx/CitiesByState?APIKEY=API_KEY&SelectedState=CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfStoreCity xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"http://www.SupermarketAPI.com\">\r\n
        \ <StoreCity>\r\n    <City>Aspen</City>\r\n    <State>CO</State>\r\n  </StoreCity>\r\n
        \ <StoreCity>\r\n    <City>Breckenridge</City>\r\n    <State>CO</State>\r\n
        \ </StoreCity>\r\n  <StoreCity>\r\n    <City>Broomfield</City>\r\n    <State>CO</State>\r\n
        \ </StoreCity>\r\n  <StoreCity>\r\n    <City>Buena Vista</City>\r\n    <State>CO</State>\r\n
        \ </StoreCity>\r\n  <StoreCity>\r\n    <City>Carbondale</City>\r\n    <State>CO</State>\r\n
        \ </StoreCity>\r\n  <StoreCity>\r\n    <City>Colorado Springs</City>\r\n  [...]
