---
http_interactions:
- request:
    method: get
    uri: http://www.supermarketapi.com/api.asmx/COMMERCIAL_SearchByProductName?APIKEY=API_KEY&ItemName=parsley
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfProduct_Commercial
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"
        xmlns=\"http://www.SupermarketAPI.com\">\r\n  <Product_Commercial>\r\n    <Itemname>Mccormick
        Parsley Flake Gourmet - .2 Oz</Itemname>\r\n    <ItemDescription>We&amp;#39;ve
        searched the world to gather the most exotic, premium herbs and spices so
        you can create an authentic flavor adventure all your own. All natural.</ItemDescription>\r\n
        \   <ItemCategory>Condiments/Spices &amp; Bake</ItemCategory>\r\n    <ItemID>32372</ItemID>\r\n
        \   <ItemImage>http://smapistorage.blob.core.windows.net/thumbimages/214200069_100x100.jpg</ItemImage>\r\n
        \   <AisleNumber>Aisle:N/A</AisleNumber>\r\n    <Pricing>3.24</Pricing>\r\n
        \ </Product_Commercial>\r\n  <Product_Commercial>\r\n    <Itemname>Mccormick
        Parsley Flakes - .5 Oz</Itemname>\r\n    <ItemDescription>Flavor Tip: 1 tsp.
        dried Parsley = 1 tbsp. fresh Parsley.</ItemDescription>\r\n    <ItemCategory>Condiments/Spices
        &amp; Bake</ItemCategory>\r\n    <ItemID>32373</ItemID>\r\n    <ItemImage>http://smapistorage.blob.core.windows.net/thumbimages/114150120_100x100.jpg</ItemImage>\r\n
        \   <AisleNumber>Aisle:N/[...]
