---
http_interactions:
- request:
    method: get
    uri: http://www.supermarketapi.com/api.asmx/SearchByItemID?APIKEY=API_KEY&ItemId=37332
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfProduct xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"http://www.SupermarketAPI.com\">\r\n
        \ <Product>\r\n    <Itemname>Italian Parsley Bunch</Itemname>\r\n    <ItemDescription>No
        Description</ItemDescription>\r\n    <ItemCategory>Fruits &amp; Vegetables</ItemCategory>\r\n
        \   <ItemID>37332</ItemID>\r\n    <ItemImage>http://smapistorage.blob.core.windows.net/thumbimages/184410046_100x100.jpg</ItemImage>\r\n
        \   <AisleNumber>Aisle:None</AisleNumber>\r\n  </Product>\r\n</ArrayOfProduct>"
  recorded_at: Mon, 27 Oct 2014 13:45:38 GMT
recorded_with: VCR 2.9.3
