---
http_interactions:
- request:
    method: get
    uri: http://www.supermarketapi.com/api.asmx/SearchForItem?APIKEY=API_KEY&ItemName=apple&StoreId=af9f101a75
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfProduct xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"http://www.SupermarketAPI.com\">\r\n
        \ <Product>\r\n    <Itemname>Gerber 100% Apple Juice - 32 Fl. Oz.</Itemname>\r\n
        \   <ItemDescription>Made from freshly pressed apples. Full serving of fruit
        in every 1/2 cup (1/2 cup [4 fl oz] = 1 serving of fruit per the American
        Academy of Pediatrics (AAP); Limited to once a day. The AAP encourages the
        consumption of whole fruits that are mashed or purred for the remaining fruit
        servings). 100% Juice. Pasteurized for premium quality. Gerber Fruit Juice
        is 100% natural with added Vitamin C. Gerber Fruit Juice are from only pure
        juice and contain: No added sugar or sweeteners; No artificial flavors or
        colors; No preservatives. All Gerber juices have 100% of the Vitamin C your
        baby needs every day. The Vitamin C in Gerber juices helps your baby absorbs
        iron better. Mix Gerber juice with iron fortified cereal for an even more
        nutritious meal.</ItemDescription>\r\n    <ItemCategory>Baby</ItemCategory>\r\n
        \   <ItemID>26315</ItemID>\r\n    <ItemImage>http://smapistorage.blob.core.windows.net/thumbimages/165020004_100x100.jpg</ItemImage>\r\n
        \   <AisleNumber>Aisle:m13</AisleNumber>\r\n  </Product>\r\n  <Product>\r\n
        \   <Itemname>Gerber Apple Juice - 4-4 Fl. Oz.</Itemname>\r\n    <ItemDescription>From
        concentrate. 100% Vitamin C per serving. Full serving of fruit in every bottle.
        Did you know children are supposed to get 5 servings or more of fruits and
        vegetables every day? Serving 4 fl oz of Gerber Fruit Juice a day will provide
        1 of the 5 servings your child needs (4 fl oz = 1 serving of fruit per the
     [...]
