---
http_interactions:
- request:
    method: get
    uri: http://www.supermarketapi.com/api.asmx/StoresByCityState?APIKEY=API_KEY&SelectedCity=San%20Francisco&SelectedState=CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfStore xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"http://www.SupermarketAPI.com\">\r\n
        \ <Store>\r\n    <Storename>Safeway  </Storename>\r\n    <Address>2020 Market
        St</Address>\r\n    <City>San Francisco</City>\r\n    <State>CA</State>\r\n
        \   <Zip> </Zip>\r\n    <Phone> </Phone>\r\n    <StoreId>e6k3fjw75k</StoreId>\r\n
        \ </Store>\r\n  <Store>\r\n    <Storename>Safeway  </Storename>\r\n    <Address>350
        Bay St</Address>\r\n    <City>San Francisco</City>\r\n    <State>CA</State>\r\n
        \   <Zip> </Zip>\r\n    <Phone> </Phone>\r\n    <StoreId>e6k3fjw76k</StoreId>\r\n
        \ </Store>\r\n  <Store>\r\n    <Storename>Safeway  </Storename>\r\n    <Address>625
        Monterey Blvd.</Address>\r\n    <City>San Francisco</City>\r\n    <State>CA</State>\r\n
        \   <Zip>[...]
