---
http_interactions:
- request:
    method: get
    uri: http://www.supermarketapi.com/api.asmx/StoresByZip?APIKEY=API_KEY&ZipCode=80027
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<ArrayOfStore xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns=\"http://www.SupermarketAPI.com\">\r\n
        \ <Store>\r\n    <Storename>Target  </Storename>\r\n    <Address>400 Marshall
        Rd.</Address>\r\n    <City>Superior</City>\r\n    <State>CO</State>\r\n    <Zip>80027</Zip>\r\n
        \   <Phone> </Phone>\r\n    <StoreId>af9f101a75</StoreId>\r\n  </Store>\r\n</ArrayOfStore>"
  recorded_at: Mon, 27 Oct 2014 13:20:27 GMT
recorded_with: VCR 2.9.3
